*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 599px) and (max-width: 767px) {

    
    body{
        width: 100%;
        display: block;
        margin: auto;
        background: #191919;
        font-family: sans-serif;
    }
    
    header > svg {
        margin: 0 auto;
        margin-top: 76px;
    }
    
    .navbar{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
        background: #1a1a1a;
    }
    
    .link-group{
        list-style: none;
        display: flex;
    }
    
    .link a{
        color: #fff;
        opacity: 0.5;
        text-decoration: none;
        text-transform: capitalize;
        margin: 0 20px;
        line-height: 80px;
        transition: .5s;
        font-size: 14px;
    }
    
    .link a:hover, .link.active a{
        opacity: 1;
    }
    
    
    .home-section.active,
    .project-section.active,
    .about-section.active,
    .contact-section.active{
        position: relative;
        opacity: 1;
        z-index: 8;
    }
    
    
    
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,64,146,1) 35%, rgba(0,212,255,1) 100%);
        color: #fff;
        padding: 20px;
        right: 0px;
    }
}

@media only screen and (min-width: 768px) {
    
    body{
        width: 100%;
        max-width: 1400px;
        display: block;
        margin: auto;
        min-height: 100vh;
        background: #191919;
        font-family: sans-serif;
    }
    
    header {
        padding-left: 20px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .navbar{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
    }
    
    .link-group{
        list-style: none;
        display: flex;
    }
    
    .link a{
        color: #fff;
        opacity: 0.5;
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px 30px;
        margin: 0 20px;
        line-height: 80px;
        transition: .5s;
        font-size: 20px;
    }
    
    .link a:hover, .link.active a{
        opacity: 1;
    }
    
    
    
    .home-section.active,
    .project-section.active,
    .about-section.active,
    .contact-section.active{
        position: relative;
        opacity: 1;
        z-index: 8;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,64,146,1) 35%, rgba(0,212,255,1) 100%);
        color: #fff;
        padding: 20px;
        right: 0px;
    }
}
